<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clientes API</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 20px;
      }
      input,
      button {
        margin: 5px;
        padding: 8px;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
      }
      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
      td pre {
        max-height: 100px;
        overflow-y: auto;
        white-space: pre-wrap;
      }
      th {
        background-color: #f4f4f4;
      }
      .stats {
        margin: 20px 0;
        padding: 15px;
        background-color: #f8f9fa;
        border-radius: 5px;
        display: flex;
        align-items: center;
      }
      .estatisticas {
        margin-left: 10px;
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Gerenciamento de Clientes</h1>

    <div class="stats">
      <h3>Estatísticas:</h3>
      <div class="estatisticas" id="endpointStats"></div>
      <button onclick="atualizarEstatisticas()">Atualizar Estatísticas</button>
    </div>

    <h3>Criar Cliente</h3>
    <input type="text" id="nome" placeholder="Nome" />
    <input type="email" id="email" placeholder="Email" />
    <input type="text" id="telefone" placeholder="Telefone" />
    <input type="date" id="birthday" placeholder="Data de Nascimento" />
    <input type="text" id="address" placeholder="Endereço" />
    <button onclick="criarCliente()">Criar</button>
    <button onclick="limparCamposCriacao()">Limpar</button>

    <h3>Buscar Cliente</h3>
    <input type="text" id="clienteId" placeholder="ID do Cliente" />
    <button onclick="buscarCliente()">Buscar por ID</button>
    <input type="text" id="clienteNome" placeholder="Nome do Cliente" />
    <button onclick="buscarClientePorNome()">Buscar por Nome</button>
    <button onclick="limparCamposBusca()">Limpar</button>

    <h3>Lista de Clientes</h3>
    <button onclick="listarClientes()">Atualizar Lista</button>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Data de Nascimento</th>
          <th>Endereço</th>
          <th>Criado Em</th>
          <th>Atualizado Em</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody id="clientesLista"></tbody>
    </table>

    <h3>Histórico de Requisições</h3>
    <button onclick="limparHistoricoFetch()">Limpar Histórico</button>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>URL</th>
          <th>Método</th>
          <th>Status</th>
          <th>Resposta</th>
        </tr>
      </thead>
      <tbody id="historicoFetch"></tbody>
    </table>

    <script>
      const API_URL = '/api/clients'
      const historicoFetch = []

      const limparCamposCriacao = () => {
        document.getElementById('nome').value = ''
        document.getElementById('email').value = ''
        document.getElementById('telefone').value = ''
        document.getElementById('birthday').value = ''
        document.getElementById('address').value = ''
      }

      const limparCamposBusca = () => {
        document.getElementById('clienteId').value = ''
        document.getElementById('clienteNome').value = ''
      }

      const registrarFetch = async (url, metodo, callback) => {
        const inicio = performance.now()
        let status = 'Erro'
        let respostaTexto = '-'
        try {
          const resposta = await callback()
          status = resposta.status
          respostaTexto = await resposta.text()
          return new Response(respostaTexto, { status: resposta.status })
        } catch (error) {
          console.error('Erro na requisição:', error)
        } finally {
          historicoFetch.unshift({ url, metodo, status, respostaTexto })
          atualizarHistorico()
        }
      }

      const atualizarHistorico = () => {
        const tabela = document.getElementById('historicoFetch')
        tabela.innerHTML = ''
        historicoFetch.forEach((item, index) => {
          const row = document.createElement('tr')
          row.innerHTML = `
      <td>${index + 1}</td>
      <td>${item.url}</td>
      <td>${item.metodo}</td>
      <td>${item.status}</td>
      <td><pre>${item.respostaTexto}</pre></td>
    `
          tabela.appendChild(row)
        })
      }

      const limparHistoricoFetch = () => {
        historicoFetch.length = 0

        const tabela = document.getElementById('historicoFetch')
        tabela.innerHTML = ''
      }

      const atualizarEstatisticas = async () => {
        const res = await registrarFetch(`${API_URL}/count`, 'GET', () =>
          fetch(`${API_URL}/count`)
        )
        const stats = await res.json()
        const statsDiv = document.getElementById('endpointStats')
        statsDiv.innerHTML = `<p>${stats.count} clientes</p>`
      }

      const criarCliente = async () => {
        const nome = document.getElementById('nome').value
        const email = document.getElementById('email').value
        const telefone = document.getElementById('telefone').value
        const birthday = document.getElementById('birthday').value
        const address = document.getElementById('address').value

        const res = await registrarFetch(API_URL, 'POST', () =>
          fetch(API_URL, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(
              {
                name: nome,
                email,
                phone: telefone,
                birthday,
                address,
              },
              null,
              2
            ),
          })
        )

        if (res.status === 400) {
          const { message } = await res.json()
          alert(`Mensagem: ${message}`)
        } else {
          listarClientes()
        }
      }

      const buscarCliente = async () => {
        const id = document.getElementById('clienteId').value
        if (!id.trim()) return alert('Campo ID Vazio')

        const res = await registrarFetch(`${API_URL}/${id}`, 'GET', () =>
          fetch(`${API_URL}/${id}`)
        )
        if (res?.status === 404) return alert('Cliente não encontrado!')

        const cliente = await res.json()
        atualizarTabelaClientes([cliente])
      }

      const buscarClientePorNome = async () => {
        const nome = document.getElementById('clienteNome').value
        if (!nome.trim()) return alert('Campo Nome Vazio')

        const res = await registrarFetch(`${API_URL}/name/${nome}`, 'GET', () =>
          fetch(`${API_URL}/name/${nome}`)
        )

        if (res?.status === 404) return alert('Cliente não encontrado!')

        const clientes = await res.json()
        atualizarTabelaClientes(clientes)
      }

      const listarClientes = async () => {
        const res = await registrarFetch(API_URL, 'GET', () => fetch(API_URL))
        const clientes = await res.json()
        atualizarTabelaClientes(clientes)
      }

      const atualizarTabelaClientes = (clientes) => {
        const lista = document.getElementById('clientesLista')
        lista.innerHTML = ''
        clientes.forEach((cliente) => {
          const row = document.createElement('tr')
          row.setAttribute('data-id', cliente.id)
          row.innerHTML = `
      <td>${cliente.id}</td>
      <td>${cliente.name}</td>
      <td>${cliente.email}</td>
      <td>${cliente.phone || '-'}</td>
      <td>${cliente.birthday || '-'}</td>
      <td>${cliente.address || '-'}</td>
      <td>${new Date(cliente.createdAt).toLocaleString()}</td>
      <td>${new Date(cliente.updatedAt).toLocaleString()}</td>
      <td>
        <button onclick="editarCliente('${cliente.id}')">Editar</button>
        <button onclick="deletarCliente('${cliente.id}')">Excluir</button>
      </td>
    `

          lista.appendChild(row)
        })
      }

      const editarCliente = async (id) => {
        const res = await registrarFetch(`${API_URL}/${id}`, 'GET', () =>
          fetch(`${API_URL}/${id}`)
        )
        if (res.status === 404) {
          alert('Cliente não encontrado!')
          return
        }

        const cliente = await res.json()

        const novoNome = prompt('Novo nome:', cliente.name)
        const novoEmail = prompt('Novo email:', cliente.email)
        const novoTelefone = prompt('Novo telefone:', cliente.phone || '')
        const novaDataNascimento = prompt(
          'Nova data de nascimento (YYYY-MM-DD):',
          cliente.birthday || ''
        )
        const novoEndereco = prompt('Novo endereço:', cliente.address || '')

        if (!novoNome || !novoEmail) {
          alert('Nome e email são obrigatórios!')
          return
        }

        await registrarFetch(`${API_URL}/${id}`, 'PUT', () =>
          fetch(`${API_URL}/${id}`, {
            method: 'PUT',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(
              {
                name: novoNome,
                email: novoEmail,
                phone: novoTelefone || null,
                birthday: novaDataNascimento || null,
                address: novoEndereco || null,
              },
              null,
              2
            ),
          })
        )

        listarClientes()
      }

      const removerLinhaDaTabela = (id) => {
        const linha = document.querySelector(`tr[data-id="${id}"]`)
        if (linha) {
          linha.remove()
        }
      }

      const deletarCliente = async (id) => {
        if (!confirm('Tem certeza que deseja excluir este cliente?')) return

        await registrarFetch(`${API_URL}/${id}`, 'DELETE', () =>
          fetch(`${API_URL}/${id}`, { method: 'DELETE' })
        )

        removerLinhaDaTabela(id)
      }

      listarClientes()
      atualizarEstatisticas()
    </script>
  </body>
</html>
